@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: larger;
    font-weight: bolder;
}

.nav{
    position: sticky;
    z-index:1;
   top: 0;
   background-color: ghostwhite; 

}

.hero-section {
    opacity: 0; 
    transition: opacity 1s ease-in;
  }
  
  .fade-in {
    opacity: 1; 
  }
  
  /* CarSelection.css */

/* Rendi le card più rettangolari */
.card {
  border-radius: 10px;
}

/* Aggiungi ombra alle card */
.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile per il titolo delle card */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* Stile per il testo delle card */
.card-text {
  font-size: 0.9rem;
  color: #666;
}

/* Stile per il pulsante delle card */
.card-btn {
  border-radius: 30px;
  padding: 6px 16px;
}

/* CarSelection.css */

/* ... (regole CSS esistenti) */

/* Stile per i pulsanti */
.card-btn {
  border-radius: 30px;
  padding: 6px 16px;

  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #0056b3; /* Colore di sfondo al passaggio del mouse */
}

.card-btn:active {
  background-color: #003580; /* Colore di sfondo al click */
}



/* Stili per le immagini dei loghi delle auto */
.logo-row img {
  width: 60px; /* Dimensioni ridotte */
  height: 60px;
  object-fit: contain;
  margin: 0 10px;
  
}
.car-booking{

  margin-top: 50px;
}

/* Stile dei modali */

.modal-content {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border: none;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px;
}

/* Aggiunta di margini al testo all'interno del modale */
.modal-body p,
.modal-body ul {
  margin-bottom: 10px;
}

/* Aggiunta di margini ai bottoni all'interno del modale */
.modal-footer button {
  margin-right: 10px;
}
